.burgermenu{
    position: absolute;
    right: 0;
    left: 0;
    top: 0px;
    height: 100vh;
    background-color: white;
    position: fixed;
    padding: 16px;
    z-index: 10;
    box-shadow: -11px 3px 15px -1px rgba(0,0,0,0.75);
    padding-right: 120px;
    &__close{
        display: flex;
        justify-content: flex-end;
        & > svg{
            font-size: 40px;
            &:hover{
                cursor: pointer;
            }
        }

    }

    &__pages{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        & > a {
            font-size: 30px;
            color: black;
            display: flex;
            align-items: center;
            padding: 3px;
            border-bottom: 1px solid black;
            gap: 10px;
            & > svg{
                font-size:40px;
            }
        }
    }
}
