.project{

    margin-top: 30px;
    background-color: black;
    color: white;
    &__cont{
        & > h1 {
            text-align: center;
            font-size: clamp(1.75rem, 0.778rem + 2.78vw, 3rem);
            font-weight: 400;
            & > span {
                font-weight: 800;
            }
        }

        &__procont{
            margin-top: clamp(1.25rem, -1.667rem + 8.33vw, 5rem) ;
            display: flex;
            flex-direction: column;
            gap: clamp(1.875rem, -0.556rem + 6.94vw, 5rem);
            // display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            // gap: 20px;
        }
    }
}

.about{
    margin-top: 60px;
    margin-bottom: 60px;

    &__cont{
     
        display: flex;
        gap: clamp(2.5rem, 0.556rem + 5.56vw, 5rem);
        @media(max-width:580px){
            flex-direction: column;
        }
        &__left{
            flex-grow: 1;
            flex-basis: 50%;
            & > img{
                width: 100%;
            }

        }

        &__right{
            flex-grow: 1;
            flex-basis: 50%;
          
            display: flex;
            flex-direction: column;
            gap: 10px;
            & > h1 {
                font-size: clamp(1.75rem, 0.778rem + 2.78vw, 3rem);
                font-weight: 400;
                & > span {
                    font-weight: 800;
                }
            }

            & > p {
                color: #71717A;
                font-size: 16px;
            }
        }
    }
}